/******************************************************************************
  Clearfix

  Force an Element To Self-Clear its Children
*******************************************************************************/
.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
