/******************************************************************************
  Styles

  Main entry for styles. Uses ITCSS convention for imports.
  https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
*******************************************************************************/

/*-----------------------------------------------------------------------------
  Settings: variables, etc.
------------------------------------------------------------------------------*/
@import "../../../node_modules/sass-mq/mq";
@import "01-settings/**/*.scss";


/*-----------------------------------------------------------------------------
  Tools: mixins, etc.
------------------------------------------------------------------------------*/
@import "02-tools/**/*.scss";


/*-----------------------------------------------------------------------------
  Generic: Normalize, reset, etc.
------------------------------------------------------------------------------*/
@import "../../../node_modules/normalize-scss/sass/normalize";
@include normalize;
@import "03-generic/**/*.scss";


/*-----------------------------------------------------------------------------
  Elements: Headings, links, lists, etc.
------------------------------------------------------------------------------*/
@import "04-elements/**/*.scss";


/*-----------------------------------------------------------------------------
  Objects: Media object, animations, etc.
------------------------------------------------------------------------------*/
@import "05-objects/**/*.scss";


/*-----------------------------------------------------------------------------
  Components: Ummm... components.
------------------------------------------------------------------------------*/
@import "../../components/01-atoms/**/*.scss";
@import "../../components/02-molecules/**/*.scss";
@import "../../components/03-organisms/**/*.scss";
@import "../../components/04-templates/**/*.scss";
@import "../../components/05-pages/**/*.scss";


/*-----------------------------------------------------------------------------
  Trumps: Clearfix, utilities, etc.
------------------------------------------------------------------------------*/
@import "06-trumps/**/*.scss";
